/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

/* Container Box */
.container {
    width: 90%;
    max-width: 600px;
    background: white;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.container h2 {
    text-align: center;
    color: #333;
}

h3 {
    margin-top: 20px;
    color: #444;
}

/* Input and Button Styling */
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: none;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px; 
    border-radius: 6px;
    display: block; 
    margin: 10px auto; 
    width: fit-content;
    width: 300px; 
}

button:hover {
    background-color: #1e5fa4;
}

.logout-btn {
    background-color: #e74c3c;
    width: 300px;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px; 
    border-radius: 6px;
    display: block;
    margin: 10px auto; 
}


.logout-btn:hover {
    background-color: #c0392b;
}

/* Password Eye Icon */
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    padding-right: 35px;
}

.toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Error Message */
.error {
    color: red;
    font-size: 14px;
}

/* Dashboard Table */
#productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#productTable, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: cornflowerblue;
    color: white;
}

/* Bigger Container for Dashboard */
.dashboard-container {
    max-width: 900px;
}
